
.responsive{
    width: 98%;
    margin-left: 10px;
}
.btn-L{
    height: 25%;
    margin-left: 10px;
    margin-top: 24px;
}

.inputWithIcon input[type=search]{
    padding-left: 38px
}

.inputWithIcon{
    position: relative;
}

.inputWithIcon i{
    position: absolute;
    left: 0;
    top: -1px;
    padding: 9px 8px;
    transition: .3s;
}
.table-L {
  overflow-x: auto;
  text-align: center;
}

.input-Date {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 45%;
}



.over {
  overflow-y: auto;
}

.bloco {

  width: 100vw;
  height: 100vh;
}

.inputWithIcon input[type=text]:focus + i{
    color: dodgerblue;
}


@media screen and (max-width: 1024px) {
    .responsive{
      width: 98%;
      margin-left: 10px;
    }
  }
  @media screen and (max-width: 966px) {
    .responsive{
      width: 98%;
      margin-left: 10px;
    }
  }
  @media screen and (max-width: 544px) {
    .responsive{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .form-select-L{
      width: 400%;
    }
    .input-Date {
      display: flex;
      flex-direction: column;
      width: 175%;
      margin-left: 0;
    }
    h3{
        text-align: center;
      }
    .form-control-L{
        width: 400%;
    }
    .input-group{
        width: 100%;
    }
    .btn-L{
        display: flex;
        justify-content: center;
        margin-left: 0;
        
    }
  }
  @media screen and (max-width: 300px) {
    .responsive{
      width: 100%;
    }
    h3{
      text-align: center;
    }
    .responsive{
      width: 100%;
    }
  }

